.keyword-notice-group {
    color: white;
    height: 200px;
    width: 80%;
}
.keyword-notice-list {
    overflow-y: scroll; 
    overflow-x: hidden;
    height: inherit;
}
.keyword-notice-list::-webkit-scrollbar {
    width: 10px;
}
.keyword-notice-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}
.keyword-notice-list::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
}
body {
    padding: 5%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../assets/images/CBNUphoto_5464x3070_20220921195909.jpg);
    background-size: cover;
}
.main-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 330px;
    
}
.keyword-add-btn {
    color: #5c2c77;
    font-size: 25px;
    /* background-color: white; */
    text-align: center;
    border-radius: 45%;
    width: 37.5px;
    height: fit-content;
    /* background-position: 0 0; */
    transition: background-color 0.5s;
    cursor: pointer;
}
.keyword-add-btn:hover {
    background-color: rgba(255,255,255,0.7);;
    
}
.keyword-grid > h2 {
    color: white;
}
.keyword-grid {
    display: grid;
    grid-template-columns:  155px 40px 1fr;
    align-items: center;
}
.keyword-container {
    border-style: solid;
    border-radius: 5%;
    display: grid;
    grid-template-columns: 1fr 2px;
}
.keyword-list {
    vertical-align: baseline;
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
}
.keyword-delete-btn {
    /* float: right; */
    margin: -10px 0 0 95px;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    color: rgb(255, 98, 98);
    font-size: 11px;
    width: 18px;
    height: 18px;
    border-radius: 45%;
    text-align: center;
    cursor: pointer;
}
.keyword {
    /* float: left; */
    width: 100px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}
.selected-keyword {
    background-color: white;    
    color: black !important;
}
.keyword-input-group-close-btn {
    background-color: red;
    text-align: center;
    border-radius: 5%;
    height: inherit;
}
.keyword-input-group {
    position: absolute;
    color: white;
    height: 25px;
    align-items: center;
}
.keyword-input {
    height: inherit;
}
.keyword-submit {
    height: 25px;
    overflow: hidden;
    margin: 5%;
    font-size: 25px;
    cursor: pointer;
    background-color: blue;
    border-radius: 5%;
    text-align: center;
}
.keyword-input-grid {
    display: grid;
    grid-template-columns: 1fr 70px 70px;
    align-items: center;
}
.logo {
    width: 250px;
}
.logo-group {
    position: absolute;
    top: 90%;
    left: 80%;
}
.notice-group {
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.notice-group::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.notice-empty {
    color: gray;
    text-align: center;
}
.notice-element {
    color: white;
}
.notice-name {
    text-decoration: none;
    color: white;
}
.notice-name:hover {
    text-decoration: none;
    color: gray;
}

.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.report-and-question {
    text-decoration: none;
    color: gray;
    position:absolute;
    top: 90%
}

.report-and-question:hover {
    color: rgb(170, 170, 170);
}